PharmaOS — DB Schema Bootstrap V2.json
{
  "name": "PharmaOS — DB Schema Bootstrap V2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        384,
        -16
      ],
      "id": "5e4ca1b0-033d-4121-ad87-8c2650355012",
      "name": "Run Manually"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\n-- [Full schema already generated in WF0 above — recreating the JSON wrapper]\nCREATE TABLE IF NOT EXISTS signals_mesh (id BIGSERIAL PRIMARY KEY, signal_domain VARCHAR(50) NOT NULL DEFAULT 'ci', signal_type VARCHAR(80) NOT NULL DEFAULT 'unknown', source_id VARCHAR(255) NOT NULL, source VARCHAR(100) NOT NULL, title TEXT NOT NULL DEFAULT '', summary TEXT DEFAULT '', entity_name VARCHAR(255) DEFAULT '', asset_id VARCHAR(100) DEFAULT NULL, geography VARCHAR(100) DEFAULT '', indication VARCHAR(500) DEFAULT '', drug_name VARCHAR(255) DEFAULT '', sponsor VARCHAR(255) DEFAULT '', phase VARCHAR(50) DEFAULT '', status VARCHAR(100) DEFAULT '', moa VARCHAR(500) DEFAULT '', modality VARCHAR(100) DEFAULT '', nct_id VARCHAR(20) DEFAULT NULL, url TEXT DEFAULT '', raw_text TEXT DEFAULT '', impact_level VARCHAR(10) DEFAULT 'LOW' CHECK (impact_level IN ('HIGH','MED','LOW')), impact_score NUMERIC(5,2) DEFAULT 0, priority_score NUMERIC(5,2) DEFAULT 0, route_tier VARCHAR(30) DEFAULT '', notif_priority VARCHAR(5) DEFAULT 'P5', alert_channels TEXT[] DEFAULT '{}', ai_processed BOOLEAN DEFAULT FALSE, ai_summary TEXT DEFAULT '', ai_classification JSONB DEFAULT '{}', recommended_action TEXT DEFAULT '', competitor_flag BOOLEAN DEFAULT FALSE, is_urgent BOOLEAN DEFAULT FALSE, confidence VARCHAR(10) DEFAULT 'low', override_status VARCHAR(30) DEFAULT NULL, override_by VARCHAR(100) DEFAULT NULL, override_reason TEXT DEFAULT NULL, score_breakdown JSONB DEFAULT '{}', scoring_version INT DEFAULT 2, version INT DEFAULT 1, quality_score INT DEFAULT 0, fingerprint VARCHAR(64) DEFAULT NULL, dedup_hash VARCHAR(128) DEFAULT NULL, parent_signal_id BIGINT DEFAULT NULL, lineage_chain BIGINT[] DEFAULT '{}', ttl_expires_at TIMESTAMPTZ DEFAULT NULL, first_seen_at TIMESTAMPTZ DEFAULT NOW(), last_seen_at TIMESTAMPTZ DEFAULT NOW(), ingested_at TIMESTAMPTZ DEFAULT NOW(), UNIQUE(signal_domain, source_id));\nCREATE INDEX IF NOT EXISTS idx_mesh_domain ON signals_mesh(signal_domain);\nCREATE INDEX IF NOT EXISTS idx_mesh_impact ON signals_mesh(impact_level);\nCREATE INDEX IF NOT EXISTS idx_mesh_urgent ON signals_mesh(is_urgent) WHERE is_urgent = true;\nCREATE INDEX IF NOT EXISTS idx_mesh_asset ON signals_mesh(asset_id) WHERE asset_id IS NOT NULL;\nCREATE INDEX IF NOT EXISTS idx_mesh_lastseen ON signals_mesh(last_seen_at DESC);\nCREATE INDEX IF NOT EXISTS idx_mesh_ai ON signals_mesh(ai_processed) WHERE ai_processed = false;\nCREATE INDEX IF NOT EXISTS idx_mesh_drug ON signals_mesh(drug_name) WHERE drug_name != '';\nCREATE INDEX IF NOT EXISTS idx_mesh_fingerprint ON signals_mesh(fingerprint) WHERE fingerprint IS NOT NULL;\nCREATE INDEX IF NOT EXISTS idx_mesh_dedup ON signals_mesh(dedup_hash) WHERE dedup_hash IS NOT NULL;\nCREATE INDEX IF NOT EXISTS idx_mesh_ttl ON signals_mesh(ttl_expires_at) WHERE ttl_expires_at IS NOT NULL;\nCREATE TABLE IF NOT EXISTS pharmaos_assets (id VARCHAR(100) PRIMARY KEY, name VARCHAR(255) NOT NULL, aliases TEXT[] DEFAULT '{}', molecule_type VARCHAR(100) DEFAULT '', modality VARCHAR(100) DEFAULT '', moa_description TEXT DEFAULT '', therapeutic_area VARCHAR(255) DEFAULT '', indication TEXT DEFAULT '', phase VARCHAR(50) DEFAULT '', status VARCHAR(100) DEFAULT '', lead_sponsor VARCHAR(255) DEFAULT '', co_sponsors TEXT[] DEFAULT '{}', nct_ids TEXT[] DEFAULT '{}', regulatory_ids TEXT[] DEFAULT '{}', strategic_priority VARCHAR(20) DEFAULT 'NORMAL', competitive_set TEXT[] DEFAULT '{}', patent_expiry DATE DEFAULT NULL, peak_sales_forecast NUMERIC(12,2) DEFAULT NULL, signal_count_30d INT DEFAULT 0, last_signal_at TIMESTAMPTZ DEFAULT NULL, created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS compound_events (id BIGSERIAL PRIMARY KEY, title TEXT NOT NULL, domains TEXT[] DEFAULT '{}', signal_ids BIGINT[] DEFAULT '{}', compound_risk_score NUMERIC(5,2) DEFAULT 0, trigger_pattern VARCHAR(100) DEFAULT '', pattern_metadata JSONB DEFAULT '{}', ai_narrative TEXT DEFAULT '', ai_model_used VARCHAR(100) DEFAULT '', recommended_actions TEXT[] DEFAULT '{}', escalation_level VARCHAR(20) DEFAULT 'STANDARD', resolved BOOLEAN DEFAULT FALSE, resolved_by VARCHAR(100) DEFAULT NULL, resolved_at TIMESTAMPTZ DEFAULT NULL, resolution_notes TEXT DEFAULT '', false_positive BOOLEAN DEFAULT FALSE, detected_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS strategy_memory (id BIGSERIAL PRIMARY KEY, decision_type VARCHAR(80) DEFAULT '', asset_id VARCHAR(100) DEFAULT NULL, question TEXT DEFAULT '', context TEXT DEFAULT '', decision_made TEXT DEFAULT '', decision_rationale TEXT DEFAULT '', outcome TEXT DEFAULT '', outcome_score NUMERIC(3,1) DEFAULT NULL, linked_signal_ids BIGINT[] DEFAULT '{}', tags TEXT[] DEFAULT '{}', made_by VARCHAR(100) DEFAULT '', made_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS pharmamind_sessions (id BIGSERIAL PRIMARY KEY, session_id VARCHAR(100) UNIQUE DEFAULT '', user_id VARCHAR(100) DEFAULT '', channel VARCHAR(100) DEFAULT '', question TEXT NOT NULL, decomposed_queries JSONB DEFAULT '[]', data_sources_used TEXT[] DEFAULT '{}', answer_text TEXT DEFAULT '', cited_signal_ids BIGINT[] DEFAULT '{}', confidence VARCHAR(10) DEFAULT 'low', model_used VARCHAR(100) DEFAULT '', tokens_used INT DEFAULT 0, latency_ms INT DEFAULT 0, feedback_score INT DEFAULT NULL, feedback_text TEXT DEFAULT '', asked_at TIMESTAMPTZ DEFAULT NOW(), answered_at TIMESTAMPTZ DEFAULT NULL);\nCREATE TABLE IF NOT EXISTS pharmaos_audit_log (id BIGSERIAL PRIMARY KEY, event_type VARCHAR(80) NOT NULL, domain VARCHAR(50) DEFAULT '', signal_id BIGINT DEFAULT NULL, asset_id VARCHAR(100) DEFAULT NULL, actor VARCHAR(100) DEFAULT 'system', action TEXT DEFAULT '', previous_state JSONB DEFAULT '{}', new_state JSONB DEFAULT '{}', metadata JSONB DEFAULT '{}', pipeline_version INT DEFAULT 2, created_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS pharmaos_ingestion_runs (id BIGSERIAL PRIMARY KEY, run_id VARCHAR(100) UNIQUE DEFAULT '', domain VARCHAR(50) NOT NULL, source VARCHAR(100) NOT NULL, signals_fetched INT DEFAULT 0, signals_new INT DEFAULT 0, signals_updated INT DEFAULT 0, signals_deduped INT DEFAULT 0, errors INT DEFAULT 0, error_details JSONB DEFAULT '[]', api_latency_ms JSONB DEFAULT '{}', pipeline_version INT DEFAULT 2, started_at TIMESTAMPTZ DEFAULT NOW(), finished_at TIMESTAMPTZ DEFAULT NULL);\nCREATE TABLE IF NOT EXISTS signal_overrides_mesh (id BIGSERIAL PRIMARY KEY, signal_id BIGINT NOT NULL, signal_domain VARCHAR(50) NOT NULL, override_action VARCHAR(30) NOT NULL, override_by VARCHAR(100) NOT NULL, override_reason TEXT DEFAULT '', previous_level VARCHAR(10) DEFAULT '', new_impact_level VARCHAR(10) DEFAULT '', created_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS pharmaos_circuit_breaker (id SERIAL PRIMARY KEY, service_name VARCHAR(100) UNIQUE NOT NULL, state VARCHAR(20) DEFAULT 'CLOSED', failure_count INT DEFAULT 0, success_count INT DEFAULT 0, last_failure_at TIMESTAMPTZ DEFAULT NULL, last_success_at TIMESTAMPTZ DEFAULT NULL, opened_at TIMESTAMPTZ DEFAULT NULL, threshold INT DEFAULT 5, cooldown_seconds INT DEFAULT 300, updated_at TIMESTAMPTZ DEFAULT NOW());\nINSERT INTO pharmaos_circuit_breaker (service_name,state,threshold,cooldown_seconds) VALUES ('clinicaltrials_gov','CLOSED',5,300),('pubmed','CLOSED',5,300),('fda_faers','CLOSED',5,300),('fda_labels','CLOSED',5,300),('fda_recalls','CLOSED',5,300),('dailymed','CLOSED',5,600),('biorxiv','CLOSED',5,300),('sec_edgar','CLOSED',5,600),('openrouter_llm','CLOSED',3,120),('groq_llm','CLOSED',3,120) ON CONFLICT (service_name) DO NOTHING;\nCREATE TABLE IF NOT EXISTS pharmaos_dead_letter_queue (id BIGSERIAL PRIMARY KEY, source_workflow VARCHAR(255) NOT NULL, source_node VARCHAR(255) DEFAULT '', failed_payload JSONB NOT NULL DEFAULT '{}', error_message TEXT DEFAULT '', retry_count INT DEFAULT 0, max_retries INT DEFAULT 3, status VARCHAR(20) DEFAULT 'PENDING', created_at TIMESTAMPTZ DEFAULT NOW(), next_retry_at TIMESTAMPTZ DEFAULT NULL);\nCREATE TABLE IF NOT EXISTS signal_lineage (id BIGSERIAL PRIMARY KEY, signal_id BIGINT NOT NULL, parent_signal_id BIGINT DEFAULT NULL, transformation_type VARCHAR(50) DEFAULT 'ingestion', transformation_details JSONB DEFAULT '{}', pipeline_stage VARCHAR(50) DEFAULT '', created_at TIMESTAMPTZ DEFAULT NOW());\nCREATE TABLE IF NOT EXISTS pharmaos_system_health (id BIGSERIAL PRIMARY KEY, metric_name VARCHAR(100) NOT NULL, metric_value NUMERIC(12,4) DEFAULT 0, metric_unit VARCHAR(50) DEFAULT '', tags JSONB DEFAULT '{}', recorded_at TIMESTAMPTZ DEFAULT NOW());\nCREATE MATERIALIZED VIEW IF NOT EXISTS mv_signal_dashboard AS SELECT signal_domain, impact_level, signal_type, competitor_flag, COUNT(*) as signal_count, AVG(impact_score)::NUMERIC(5,2) as avg_score, MAX(impact_score) as max_score, COUNT(*) FILTER (WHERE is_urgent) as urgent_count, DATE_TRUNC('day', last_seen_at) as signal_date FROM signals_mesh WHERE last_seen_at >= NOW() - INTERVAL '30 days' GROUP BY signal_domain, impact_level, signal_type, competitor_flag, DATE_TRUNC('day', last_seen_at);\nCREATE MATERIALIZED VIEW IF NOT EXISTS mv_asset_signal_summary AS SELECT a.id as asset_id, a.name as asset_name, a.phase, a.strategic_priority, COUNT(s.id) as total_signals, COUNT(s.id) FILTER (WHERE s.impact_level = 'HIGH') as high_signals, MAX(s.impact_score) as peak_score FROM pharmaos_assets a LEFT JOIN signals_mesh s ON s.asset_id = a.id GROUP BY a.id, a.name, a.phase, a.strategic_priority;\nCREATE OR REPLACE FUNCTION refresh_pharmaos_views() RETURNS void AS $$ BEGIN REFRESH MATERIALIZED VIEW CONCURRENTLY mv_signal_dashboard; REFRESH MATERIALIZED VIEW CONCURRENTLY mv_asset_signal_summary; EXCEPTION WHEN OTHERS THEN REFRESH MATERIALIZED VIEW mv_signal_dashboard; REFRESH MATERIALIZED VIEW mv_asset_signal_summary; END; $$ LANGUAGE plpgsql;\nCREATE OR REPLACE FUNCTION circuit_breaker_check(svc VARCHAR) RETURNS BOOLEAN AS $$ DECLARE cb RECORD; BEGIN SELECT * INTO cb FROM pharmaos_circuit_breaker WHERE service_name = svc; IF NOT FOUND THEN RETURN TRUE; END IF; IF cb.state = 'OPEN' THEN IF cb.opened_at + (cb.cooldown_seconds || ' seconds')::INTERVAL < NOW() THEN UPDATE pharmaos_circuit_breaker SET state='HALF_OPEN', updated_at=NOW() WHERE service_name=svc; RETURN TRUE; END IF; RETURN FALSE; END IF; RETURN TRUE; END; $$ LANGUAGE plpgsql;\nCREATE OR REPLACE FUNCTION circuit_breaker_record_success(svc VARCHAR) RETURNS void AS $$ BEGIN UPDATE pharmaos_circuit_breaker SET state='CLOSED', failure_count=0, success_count=success_count+1, last_success_at=NOW(), updated_at=NOW() WHERE service_name=svc; END; $$ LANGUAGE plpgsql;\nCREATE OR REPLACE FUNCTION circuit_breaker_record_failure(svc VARCHAR) RETURNS void AS $$ DECLARE cb RECORD; BEGIN SELECT * INTO cb FROM pharmaos_circuit_breaker WHERE service_name=svc; IF NOT FOUND THEN RETURN; END IF; IF cb.failure_count + 1 >= cb.threshold THEN UPDATE pharmaos_circuit_breaker SET state='OPEN', failure_count=cb.failure_count+1, last_failure_at=NOW(), opened_at=NOW(), updated_at=NOW() WHERE service_name=svc; ELSE UPDATE pharmaos_circuit_breaker SET failure_count=cb.failure_count+1, last_failure_at=NOW(), updated_at=NOW() WHERE service_name=svc; END IF; END; $$ LANGUAGE plpgsql;\nCREATE OR REPLACE FUNCTION expire_stale_signals() RETURNS INT AS $$ DECLARE expired_count INT; BEGIN WITH expired AS (DELETE FROM signals_mesh WHERE ttl_expires_at IS NOT NULL AND ttl_expires_at < NOW() RETURNING id) SELECT COUNT(*) INTO expired_count FROM expired; RETURN expired_count; END; $$ LANGUAGE plpgsql;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        -16
      ],
      "id": "cad536a6-ecc9-4420-8db6-ed2759f60834",
      "name": "Create Tables+Views+Functions",
      "credentials": {
        "postgres": {
          "id": "Z5ua9zhW6VAkLy2e",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return[{json:{tables:12,views:2,functions:5,schema_version:'2.0.0',created_at:new Date().toISOString()}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -16
      ],
      "id": "ed3b8a25-b5f0-4501-831c-7227ec63f349",
      "name": "Summary"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#pharmaos-ops",
          "mode": "name"
        },
        "text": "=✅ PharmaOS Schema V2 Bootstrap — 12 tables, 2 mat views, 5 functions, 10 circuit breakers\n⏰ {{ $json.created_at }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1232,
        -16
      ],
      "id": "1c66b309-532b-4e8b-90a9-993a79d9d477",
      "name": "Notify",
      "webhookId": "ecf972b7-960b-4341-9780-02c48d11f7ea",
      "credentials": {
        "slackApi": {
          "id": "hNKdQkrXjpndDriq",
          "name": "Pharmos Slack bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Run Manually": {
      "main": [
        [
          {
            "node": "Create Tables+Views+Functions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tables+Views+Functions": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "354295d2-335c-4eba-9095-aca6fdba476a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8474b881f758c6fd5765ecefb8dfd3b879be2a9e4812023a323306f15f1b7d69"
  },
  "id": "Lhn4Os5k48yFgG6TUtCIN",
  "tags": [
    {
      "updatedAt": "2026-03-05T07:36:55.680Z",
      "createdAt": "2026-03-05T07:36:55.680Z",
      "id": "4Oo0XQF4DCzFO3wB",
      "name": "PharmaOS"
    }
  ]
}